body{
font-family: 'Roboto', sans-serif;
font-style: normal;
color: #434455;
background-color: #FFFFFF;
}

:root {
    --brand-color: #ffffff;
}

.header-logo{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.header-logo-two{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.logo:hover{
color: #404bbf
}

.logo:focus{
color: #404bbf
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.link:hover{
color: #404bbf;
}

.link:focus{
color:#404bbf;
}

.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover{
color: #404bbf;
}

.header-link:focus{
color: #404bbf;
}

.header-adr{
font-style: normal;
}

.header-adress{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.hero{
    background-color: #2e2f42;
}

.hero-title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}

.hero-btn{
font-family:"Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}

.hero-btn{
background-color: #4D5AE5;
}

.hero-btn:hover{
color: #404BBF;
background-color: #404BBF;
}

.hero-btn:focus{
color: #404BBF;
background-color: #404BBF;
}

.present-list{
    list-style: none;
}

.present-subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.present-txt{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.doit-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.doit-list{
list-style: none;
}

.team{
background-color: #F4F4FD;
}

.team.item{
background-color: #FFFFFF;
}

.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:#2E2F42;
}

.team-list{
list-style: none;
}

.team-subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}

.team-txt{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}

.item{
background-color: #FFFFFF;
}

.portfolio-list {
    list-style: none;
}

.portfolio-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
}

.portfolio-btn:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.portfolio-item-two{
text-decoration: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
background-color: #2e2f42;
}

.footer-logo{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.footer-logo-two{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}

.footer-txt{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}

